body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: auto;
  max-width: 1980px;
}

.navbar {
  background-color: #292b31;
  border-radius: 5px;
  max-width: 1980px;
}

.navbar a {
  color: rgb(233, 88, 88);
  display: inline-block;
  font-size: 30px;
  padding: 20px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}



